<!-- 
Code permanent : TAMI76580208
Auteur : Isabelle Tamas

Ce document contient le footer du site. 
Je me suis inspiré du footer que nous avons fait en laboratoire
avec le démonstrateur.
-->

<footer class="footer">
    <div class="footer__contenu">
      <div class="footer__liens">
        <a href="/" class="footer__lien">Accueil</a>
        <a href="/articles" class="footer__lien">Articles</a>
      </div>
    </div>
    <div class="footer__copyright">
      &copy; 2025 INF5190 Inc. Tous droits réservés.
    </div>
  </footer>
  