<!-- 
Code permanent : TAMI76580208
Auteur : Isabelle Tamas

Ce document contient la page erreur 404.  

Lien vers les pages Bootstrap utilisées :
https://getbootstrap.com/docs/5.3/components/alerts/#examples
https://getbootstrap.com/docs/5.3/components/alerts/#additional-content 

-->
{% extends 'base.html' %}
{% block content %}
<div class="container mt-4 alert alert-danger" role="alert">
    <h1 class="alert-heading">Erreur 404</h1>
    <p>Oups! La page que vous cherchez n'existe pas.</p>
    <hr>
    <p class="mb-0">Veuillez vérifier l'URL ou retourner à la <a href="{{ url_for('start_page') }}" class="alert-link">page d'accueil.</a></p>
</div>
{% endblock %}